In [11]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score,cross_validate,train_test_split
from sklearn.preprocessing import StandardScaler,Normalizer, RobustScaler
from sklearn.metrics import *
# import seaborn as sns
# from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
import sys
import pickle
import os

In [ ]:
a = sys.stdin.read()

In [45]:
data_path, model_path = a.split()

In [46]:
df = pd.read_csv("Data/HistoricalQuotesonemonth.csv",thousands=',')

In [48]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
close,24.0,1.087277e+03,26.303585,1036.23,1.076775e+03,1.085850e+03,1.105578e+03,1.134150e+03
volume,24.0,1.644262e+06,857284.988634,941602.00,1.224419e+06,1.450656e+06,1.728026e+06,5.130576e+06
open,24.0,1.089954e+03,26.406646,1042.90,1.075537e+03,1.086460e+03,1.110433e+03,1.134000e+03
high,24.0,1.097233e+03,26.304165,1047.49,1.080983e+03,1.096675e+03,1.117322e+03,1.151587e+03
low,24.0,1.079583e+03,28.832888,1025.00,1.071065e+03,1.080161e+03,1.101320e+03,1.133120e+03

In [49]:
# df.head()

         date    close     volume     open     high      low
0  2019/06/28  1080.91  1693450.0  1076.39  1081.00  1073.37
1  2019/06/27  1076.01  1004477.0  1084.00  1087.10  1075.29
2  2019/06/26  1079.80  1810869.0  1086.50  1092.97  1072.24
3  2019/06/25  1086.35  1546913.0  1112.66  1114.35  1083.80
4  2019/06/24  1115.52  1395696.0  1119.61  1122.00  1111.01

In [50]:
test_set = df.drop('date',axis =1)

In [51]:
test_set.head()

     close     volume     open     high      low
0  1080.91  1693450.0  1076.39  1081.00  1073.37
1  1076.01  1004477.0  1084.00  1087.10  1075.29
2  1079.80  1810869.0  1086.50  1092.97  1072.24
3  1086.35  1546913.0  1112.66  1114.35  1083.80
4  1115.52  1395696.0  1119.61  1122.00  1111.01

In [52]:
y_test = test_set['open']
test_set.drop('open',axis=1,inplace=True)

In [53]:
with open(model_path,'rb') as f:
    model = pickle.load(f)

In [54]:
pred = model.predict(test_set)

In [55]:
err_mae = mean_absolute_error(y_test,pred)
accuracy = r2_score(y_test,pred)

In [56]:
print("error mae = {}, accuracy = {}".format(err_mae,accuracy))

error mae = 5.119335191680648, accuracy = 0.940549905482155

In [57]:
df['pred']=pred

In [58]:
df.head()

         date    close     volume     open     high      low         pred
0  2019/06/28  1080.91  1693450.0  1076.39  1081.00  1073.37  1074.598651
1  2019/06/27  1076.01  1004477.0  1084.00  1087.10  1075.29  1084.552011
2  2019/06/26  1079.80  1810869.0  1086.50  1092.97  1072.24  1084.793085
3  2019/06/25  1086.35  1546913.0  1112.66  1114.35  1083.80  1108.088782
4  2019/06/24  1115.52  1395696.0  1119.61  1122.00  1111.01  1117.050489

In [9]:
path = "predictions/pred.csv"

In [60]:
df.to_csv(path)

In [10]:
try:
    sys.stdout.write(path)
except Exception as e:
        print("Cannot return the path beacause ",e)

predictions/pred.csv