In [113]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score,cross_validate,train_test_split
from sklearn.preprocessing import StandardScaler,Normalizer, RobustScaler
from sklearn.metrics import *
# import seaborn as sns
# from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
import sys
import pickle
import os

In [114]:
data_path = sys.stdin(0)
model_path = sys.stdin(1)

TypeError: '_io.TextIOWrapper' object is not callable

In [115]:
df = pd.read_csv("Data/HistoricalQuotes.csv",thousands=',')

In [116]:
df.head()

         date     close     volume     open     high      low
0       11:11  1117.625   420446.0  1118.00  1122.00  1111.01
1  2019/06/21  1121.880  1947591.0  1109.24  1124.11  1108.08
2  2019/06/20  1111.420  1262011.0  1119.99  1120.12  1104.74
3  2019/06/19  1102.330  1339218.0  1105.60  1107.00  1093.48
4  2019/06/18  1103.600  1386684.0  1109.69  1116.39  1098.99

In [117]:
train_set = df.drop('date',axis =1)

In [118]:
train_set.head()

      close     volume     open     high      low
0  1117.625   420446.0  1118.00  1122.00  1111.01
1  1121.880  1947591.0  1109.24  1124.11  1108.08
2  1111.420  1262011.0  1119.99  1120.12  1104.74
3  1102.330  1339218.0  1105.60  1107.00  1093.48
4  1103.600  1386684.0  1109.69  1116.39  1098.99

In [119]:
y_train = train_set['open']
train_set.drop('open',axis=1,inplace=True)

In [120]:
x_train,x_test,y_train,y_test = train_test_split(train_set,y_train,test_size=0.2)

In [121]:
# sns.pairplot(train_set,palette='bright')

In [122]:
linear_reg = LinearRegression(normalize=True)
linear_reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [123]:
pred = linear_reg.predict(x_test)

In [124]:
error_mae = mean_absolute_error(pred,y_test)
error_rmse = mean_squared_error(pred,y_test)
accuracy = r2_score(pred,y_test)*100

In [125]:
print(error_rmse,error_mae,accuracy)

26.245982767815114 3.5568721799848615 99.89146105510943

In [126]:
path = "model/model.pkl"

In [127]:
file = open(path,'wb')
pickle.dump(linear_reg,file)

In [128]:
print(path)

model/model.pkl

In [129]:
print(os.path.realpath("model/model.pkl"))

/home/admin1/PycharmProjects/StockPrice/model/model.pkl

In [130]:
try :
    sys.stdout(path)
except Exception as e:
    print("path not returned as ",e)

path not returned as  'OutStream' object is not callable